# **PITP Homework Questions (06-10-2025)**

### **a. List Operations**

1. Create a list of 5 cities and print them one by one. 

2. Write a program to add 3 new items in a list and then remove one of them. 

3. Write a program to find the maximum and minimum values from a list of numbers.

In [1]:
# 1) iterate over the list of cities
cities = ["Mirpurkhas", "Hyderabad", "Karachi", "Lahore", "Islamabad"]
for city in cities:
    print(city)

Mirpurkhas
Hyderabad
Karachi
Lahore
Islamabad

In [4]:
# 2) add 3 items in a list then remove one item from the list
cities = ["Mirpurkhas", "Hyderabad", "Karachi", "Lahore", "Islamabad"]
cities.append("Peshawar")
cities.append("Quetta")
cities.append("Multan")
cities.remove("Quetta")

print(f"number of cities: {len(cities)}")
print(cities)

number of cities: 7
['Mirpurkhas', 'Hyderabad', 'Karachi', 'Lahore', 'Islamabad', 'Peshawar', 'Multan']

In [7]:
#) find max and min number number from a list
nums = [10, 2, 8, 4, 9]

max = max(nums)
min = min(nums)

print(f"max number is: {max}")
print(f"min number is: {min}")

max number is: 10
min number is: 2

### **b. Slicing** 


1. Create a list of 10 numbers and print only the middle 4 numbers using slicing. 

2. Write a program to reverse a list using slicing. 

3. Write a program to print every third element from a list.

In [8]:
# 1) Create a list of 10 numbers and print only the middle 4 numbers using slicing.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
mid_four = numbers[3:7]
print(f"Middle four numbers: {mid_four}")

Middle four numbers: [4, 5, 6, 7]

In [12]:
# 2) Write a program to reverse a list using slicing.
reversed_nums = numbers[::-1]
print(f"Reversed list: {reversed_nums}")

Reversed list: [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [18]:
# 3) Write a program to print every third element from a list
every_third = numbers[2::3]
print(f"Every third element: {every_third}")

Every third element: [3, 6, 9]

# **c. List Comprehensions**

1. Write a program using list comprehension to create a list of even numbers from 1 to 20. 

2. Write a program using list comprehension to create a list of numbers greater than 50 
from [10, 60, 75, 20, 90, 30]. 

3. Write a program using list comprehension to convert ["cat", "dog", "rat"] into 
uppercase.

In [21]:
# 1) Write a program using list comprehension to create a list of even numbers from 1 to 20.as_integer_ratio
even_nums = [evens for evens in range(1, 21) if evens % 2 ==0]
print(f"Even numbers from 1 to 20: \n{even_nums}")

Even numbers from 1 to 20:
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [22]:
# 2) list of numbers greater than 50 from  [10, 60, 75, 20, 90, 30]. 
list1 =  [10, 60, 75, 20, 90, 30]
print(f"list of numbers greater than 50: \n{[nums for nums in list1 if nums > 50]}")

list of numbers greater than 50:
[60, 75, 90]

In [24]:
# 3) Write a program to convert the given list into uppercase (using list comprehension)
LC_list =  ["cat", "dog", "rat"] 
UC_list = [ele.upper() for ele in LC_list]

print(f"lower_case list: {LC_list}")
print(f"upper case list: {UC_list}")

lower_case list: ['cat', 'dog', 'rat']
upper case list: ['CAT', 'DOG', 'RAT']

### **d. Tuple Packing & Unpacking**

1. Create a tuple with 3 subjects and unpack them into separate variables.

2. Create a tuple (1, 2, 3, 4, 5, 6) and unpack it using the * operator to capture the middle 
values in a list. 

3. Write a program to swap three variables using tuple unpacking.

In [25]:
subjects = ("physics", "maths", "chemistry")
a, b, c = subjects
print(f"{a}, {b}, {c}")

physics, maths, chemistry

In [28]:
Nums = (1, 2, 3, 4, 5, 6)
first, *mid, last = Nums

print(f"tuple: {Nums} \nmiddle values: {mid}")

tuple: (1, 2, 3, 4, 5, 6)
middle values: [2, 3, 4, 5]

In [36]:
#  swap three variables `using tuple unpacking`.

a, b, c = "Ashna", "Imtiaz", "Xhaikh"

print(f"a = {a}, b = {b}, c = {c}")

a = Ashna, b = Imtiaz, c = Xhaikh

In [37]:
a, b, c = c, a, b # <- swapped using tuple-unpacking

print(f"After swapping: a = {a}, b = {b}, c = {c}")

After swapping: a = Xhaikh, b = Ashna, c = Imtiaz

### **e. Immutable vs Mutable**

1. Write a program that changes the second element of a list and shows the updated list. 

2. Try to change a value in a tuple and observe the error message. 

3. Write a short program that explains why tuples are safer than lists for storing fixed 
data like months of the year

In [ ]:
# change the 2nd element
colors = ["red", "black", "blue"]

# change the second element
colors[1] = "green"
print("updated colors: ", colors)

updated colors:  ['red', 'green', 'blue']

In [ ]:
rgb_tuple = ("red", "green", "blue")

# 2) try to change a value in tuple and observe the error
rgb_tuple[1] = "black"

TypeError: 'tuple' object does not support item assignment

In [68]:
# handle this error using try and except block
try:
    rgb_tuple[1] = "black"
except TypeError as e:
    print(f"Error: {e}. \nTuple are immutable, cannot change its elements.")

Error: 'tuple' object does not support item assignment.
Tuple are immutable, cannot change its elements.

In [70]:
# program to explain why tuples are safer than lists for storing fixed 
# data like months of the year 

# Using a list
months_list = ["January", "February", "March", "April", "May", "June",
               "July", "August", "September", "October", "November", "December"]

# try to modify the list
months_list[0] = "Jan"  
print("Modified list:", months_list)

Modified list: ['Jan', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']

In [71]:
# Using a tuple
months_tuple = ("January", "February", "March", "April", "May", "June",
                "July", "August", "September", "October", "November", "December")

# Trying to modify the tuple
try:
    months_tuple[0] = "Jan"
except TypeError as e:
    print("Error:", e)

print("Tuple remains unchanged:", months_tuple)

Error: 'tuple' object does not support item assignment
Tuple remains unchanged: ('January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December')