# **1. Variables**

In [1]:
# Program to store a name in variable and print 
name = "Ashna" 
print(name)

Ashna

In [2]:
# C.Q 2: Store your age in a variable age and print: My name is Ali and I am 20 years old. 
# Program to display name and age 
name = "Ashna" 
age = 18 
print("My name is", name, "and I am", age, "years old.")

My name is Ashna and I am 18 years old.

In [3]:
# C.Q 3: Swap values of two variables a = 5, b = 10 without retyping. 
# Program to swap variables 
a = 5 
b = 10 
a, b = b, a 
print("a =", a) 
print("b =", b)

a = 10
b = 5

# **2. Data Types (int, float, str, bool)**

In [4]:
# C.Q 1: Check the type of these variables (10, 12.5, "Python", True). 
# Program to check variable types 
x = 10 
y = 12.5 
z = "Python" 
w = True 
print(type(x)) 
print(type(y)) 
print(type(z)) 
print(type(w))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
# C.Q 2: Make your own 4 variables (int, float, str, bool) and print their types. 
# Program to create variables of different types 

roll_no = 101 
percentage = 85.6 
student_name = "Sara" 
is_present = False 
print(type(roll_no)) 
print(type(percentage)) 
print(type(student_name)) 
print(type(is_present))

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

# **3. Type Conversion**

In [6]:
# C.Q 1: Convert an integer 5 into float and string. 
# Program for type conversion 
num = 5 
print(float(num)) 
print(str(num))

5.0
5

In [11]:
# C.Q 2: Convert "100" (string) into integer and add 50. 
# Program to convert string to int 
num_str = "100" 
num_int = int(num_str)

print(f"number = {num_int}")
print(num_int + 50)
print(num_str + "5")

number = 100
150
1005

In [8]:
# Q 3: Convert True to integer and 0 to boolean. 
# Program to convert boolean and integer 
print(int(True))   # True becomes 1 
print(bool(0))
     # 0 becomes False

1
False

# **4. Basic Operators**

In [12]:
# C.Q 1: Perform +, -, *, / on numbers 15 and 4. 
# Program to perform arithmetic operations 
a = 15 
b = 4 
print("Addition:", a + b) 
print("Subtraction:", a - b) 
print("Multiplication:", a * b) 
print("Division:", a / b)

Addition: 19
Subtraction: 11
Multiplication: 60
Division: 3.75

In [ ]:
# C.Q 2: Use modulus (%) to check remainder of 17 รท 3. 
# Program to find remainder 
print(17 % 3)

In [13]:
# C.Q 3: Show power 2 ** 5. 
# Program to calculate power 
print(2 ** 5)

32

# **5. Input/Output**

In [14]:
# C.Q 1: Ask user for their name and greet them. 
# Program to take input and display greeting 

name = input("Enter your name: ") 
print("Hello", name, "welcome to Python class!")

Hello Ashna welcome to Python class!

In [15]:
# C.Q 2: Take two numbers as input and print their sum. 
# Program to take two numbers and add them 
num1 = int(input("Enter first number: ")) 
num2 = int(input("Enter second number: ")) 
print("Sum is:", num1 + num2)

Sum is: 30

In [17]:
# C.Q 3: Input your birth year and calculate your current age. 
# Program to calculate age from birth year 
birth_year = int(input("Enter your birth year: ")) 
current_year = 2025 
age = current_year - birth_year 
print("Your age is:", age)

Your age is: 18