## **a. Key Value Pairs**

1. Create a dictionary of 3 friends and their favorite colors. Print each friend’s name with
their color.

In [1]:
# Create a dictionary of friends and their favorite colors
friends_colors = {
    "Zara": "Blue",
    "Sara": "Green",
    "Aisha": "Red"
}
for frnd, clr in friends_colors.items():
    print(f"{frnd}'s favorite color is {clr}.")

Zara's favorite color is Blue.
Sara's favorite color is Green.
Aisha's favorite color is Red.

2. Add a new key-value pair to your dictionary and then remove one existing key.

In [2]:
friends_colors['Alice'] = "Black" # adding a new key-value pair

del friends_colors["Sara"]

print(f"Updated dictionary: {friends_colors}")

Updated dictionary: {'Zara': 'Blue', 'Aisha': 'Red', 'Alice': 'Black'}

3. Write a program to find the total number of keys in a dictionary.

In [3]:
total_keys = len(friends_colors)
print(f"Total number of keys: {total_keys}")

Total number of keys: 3

## **b. Dictionary Methods**

1. Create a dictionary of countries and capitals. Use .keys() to print all country names.

In [4]:
countries = {
    "Pakistan": "Islamabad",
    "France": "Paris",
    "Japan": "Tokyo",
    "Canada": "Ottawa"
}

# print all country names
print(f"Countries: {countries.keys()}")

Countries: dict_keys(['Pakistan', 'France', 'Japan', 'Canada'])

2. Write a program to remove an item using .pop() and then clear the dictionary using
.clear().

In [5]:
# remove one country using pop()
countries.pop("France")
print(f"After removing France: {countries}")

# clear all items
countries.clear()
print(f"After clearing: {countries}")

After removing France: {'Pakistan': 'Islamabad', 'Japan': 'Tokyo', 'Canada': 'Ottawa'}
After clearing: {}

3. Create a dictionary of student marks and use .get() to safely access a key that may not
exist.

In [8]:
std_marks = {
    "Sara": 85,
    "Zara": 95,
    "Alisha": 90
}

# accessing a key that does not exists
print(f"Alice's mark: {std_marks.get("Alice", "Not Found")}")
print(f"Zara's mark: {std_marks.get("Zara")}")

Alice's mark: Not Found
Zara's mark: 95

## **c. Set Operations**

1. Create two sets of even and odd numbers (1–10). Find their union and intersection.

In [11]:
even = {n for n in range(1, 11) if n % 2 == 0}
odd = {n for n in range(1, 11) if n % 2 != 0}

union = even.union(odd)
intersection = even.intersection(odd)

print(f"Union: {union}")
print(f"Intersection: {intersection}")

Union: {1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
Intersection: set()

2. Create a set of your favorite fruits and another of tropical fruits. Find the difference.

In [15]:
fav_fruits = {"appla", "orange", "mango", "kiwi", "pineapple"}
tropical = {"pineapple", "papaya", "coconut"}

# find the difference (F - T)
diff = fav_fruits.difference(tropical)

# Print the results
print("Set of Favorite Fruits (F):", fav_fruits)
print("Set of Tropical Fruits (T):", tropical)
print("\nDifference (F - T):", diff)

Set of Favorite Fruits (F): {'appla', 'orange', 'mango', 'pineapple', 'kiwi'}
Set of Tropical Fruits (T): {'coconut', 'pineapple', 'papaya'}

Difference (F - T): {'appla', 'orange', 'mango', 'kiwi'}

3. Write a program to check if a number exists in a set.

In [ ]:
nums = {1, 2, 3, 4, 5}
if 7 in nums:
  print(f"number exists!")
else:
  print("number not exists")

## **d. Use Cases for Each Data Structure**

1. Use a list to store the daily temperatures of a week and find the average.

In [16]:
# Store the daily temperatures for a week (in Celsius, for example)
daily_temps = [22.5, 23.0, 21.5, 24.0, 25.5, 26.0, 23.5]


# Calculate the average temperature
avg_temp = sum(daily_temps) / len(daily_temps)

# Print the results
print(f"Average Temperature: {avg_temp:.2f}")

Average Temperature: 23.71

2. Use a dictionary to store a product’s name, price, and quantity, then print all details.

In [19]:
# Create a dictionary to store the product details
product_details = {
    "name": "Wireless Headphones",
    "price": 79.99,
    "quantity": 150
}
# 1. Print all details by printing the dictionary itself
print("--- Product Dictionary ---")
print(product_details)

# 2. Print details in a formatted, readable way
print("\n--- Formatted Product Details ---")
print(f"Product Name: {product_details['name']}")
print(f"Price: ${product_details['price']:.2f}")
print(f"Quantity in Stock: {product_details['quantity']}")

# 3. Print details by iterating through the key-value pairs
print("\n--- Details by Iteration (Key: Value) ---")
for key, value in product_details.items():
    # Capitalize the key for better readability in the output
    print(f"{key.capitalize()}: {value}")

--- Product Dictionary ---
{'name': 'Wireless Headphones', 'price': 79.99, 'quantity': 150}

--- Formatted Product Details ---
Product Name: Wireless Headphones
Price: $79.99
Quantity in Stock: 150

--- Details by Iteration (Key: Value) ---
Name: Wireless Headphones
Price: 79.99
Quantity: 150

3. Use a set to remove duplicate email addresses entered by a user.

In [21]:
# The list of email addresses entered by the user (with duplicates)
email_list_with_duplicates = [
    "user1@example.com",
    "test@company.net",
    "user1@example.com",  # Duplicate
    "info@contact.org",
    "admin@company.net",
    "test@company.net"    # Duplicate
]

print(" Original List of Emails (with duplicates)")
print(email_list_with_duplicates)
print(f"Total entries: {len(email_list_with_duplicates)}")

# Convert the list to a set to automatically remove all duplicates
unique_emails_set = set(email_list_with_duplicates)

# Convert the set back to a list if an ordered sequence is required
unique_emails_list = list(unique_emails_set)

# Print the results
print("\nUnique Emails (as a List) ")
print(unique_emails_list)
print(f"Total unique entries: {len(unique_emails_list)}")

 Original List of Emails (with duplicates)
['user1@example.com', 'test@company.net', 'user1@example.com', 'info@contact.org', 'admin@company.net', 'test@company.net']
Total entries: 6

Unique Emails (as a List)
['info@contact.org', 'test@company.net', 'admin@company.net', 'user1@example.com']
Total unique entries: 4